<!DOCTYPE html>
<html lang="en">
<img src="https://image.ibb.co/irfObz/1.png" usemap="#image-map">

<map name="image-map">
    <area target="_parent" alt="Admin" title="Admin" href="admin-link" coords="39,540,131,539,131,698,37,698,36,615" shape="poly">
    <area target="_parent" alt="Environment" title="Environment" href="env-link" coords="134,533,402,535,404,698,132,696" shape="poly">
    <area target="_parent" alt="A1" title="A1" href="a1-link" coords="633,544,893,544,890,692,634,694" shape="poly">
    <area target="_parent" alt="Design" title="Design" href="desing-link" coords="896,692,1056,693,1053,269,894,270" shape="poly">
    <area target="_parent" alt="Bridge" title="Bridge" href="bridge-link" coords="731,158,1056,160,1055,265,732,264" shape="poly">
    <area target="_parent" alt="Roads" title="Roads" href="roads-link" coords="528,158,731,158,731,296,530,300" shape="poly">
    <area target="_parent" alt="Rail" title="Rail" href="rail-link" coords="42,161,522,164,520,336,43,338" shape="poly">
    <area target="_parent" alt="Oilgas" title="Oilgas" href="oilgas-link" coords="405,539,629,540,625,694,406,697" shape="poly">
</map>

</html>