{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<img src="https://image.ibb.co/nHNzZK/office_floor_plan.png" usemap="#image-map">
<map name="image-map">
    <area target="_parent" alt="Environmental" title="Environmental" href="http://127.0.0.1:8000/divisions_detail/2" coords="456,392,982,392,980,565,456,568" shape="poly">
    <area target="_parent" alt="Rail" title="Rail" href="http://127.0.0.1:8000/divisions_detail/3"  coords="462,633,1003,630,999,872,460,872" shape="poly">
    <area target="_parent" alt="admin" title="admin" href="admin" coords="34,602,294,611,294,867,30,865" shape="poly">
    <area target="_parent" alt="design" title="design" href="design" coords="32,345,292,602" shape="rect">
</map>

{% endblock %}
</html>